services:
  kc_db:
    image: postgres:15
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 30s
      retries: 5
    environment:
      POSTGRES_DB: devzone
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - keycloak_net
  db:
    image: postgres:15
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 30s
      retries: 5
    environment:
      POSTGRES_DB: devzone
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_DATABASE: devzone
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: secret
      KC_DB_URL_HOST: kc_db
    ports:
      - "8081:8080"
    depends_on:
      kc_db:
        condition: service_healthy
    networks:
      - keycloak_net
  
  backend:
    build:
      context: ./Backend/
      dockerfile: Dockerfile
    environment:
      DB_NAME: devzone
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: secret   
      DB_PORT: 5432
      SERVER_PORT: 5000
      KEYCLOAK_REALM_ULR: "http://localhost:8081/realms/devzone" 
      CLIENT_ID: "backend-api"
      KEYCLOAK_USER: "admin"
      KEYCLOAK_PASSWORD: "admin"
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
          
    networks:
      - backend
    
volumes:
  postgres_data:
  pgdata:
networks:
  backend:
    driver: bridge
  keycloak_net:
    driver: bridge
