.kcLoginClass {
  background-color: #303030 !important;
}
#kc-header {
  display: none !important;
}

input::placeholder {
  color: rgb(131, 131, 131) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #2a2a2a inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.kcAlertClass {
  display: none !important;
}
