@import "tailwindcss";

.ant-menu-item[data-menu-id="rc-menu-uuid-0"] {
  height: 64px !important;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 0 !important;
  border-bottom: 2px solid white;
}

.ant-menu-item-selected {
  background: #371647;
  background: linear-gradient(
    155deg,
    rgba(55, 22, 71, 1) 1%,
    rgba(0, 102, 197, 1) 50%,
    rgba(55, 22, 71, 1) 100%
  );
}
.ant-menu-sub {
  background-color: #1d1d1d !important;
}
.ant-layout-sider.ant-layout-sider-collapsed
  .ant-menu-item[data-menu-id="rc-menu-uuid-0"]
  span {
  display: none !important;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100% !important;
}

.search-Header input,
.search-Header button {
  background-color: #303030 !important;
}

.search-Header button {
  color: white !important;
}
.search-Header input::placeholder {
  color: gray;
}
.search-Header input {
  color: white;
}

.ant-notification-notice{
  border: 1px solid white !important;
}